/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1a73e8; /* Google blue for tech/robotics feel */
  --ifm-color-primary-dark: #1866d1;
  --ifm-color-primary-darker: #175db9;
  --ifm-color-primary-darkest: #134c97;
  --ifm-color-primary-light: #3b8cff;
  --ifm-color-primary-lighter: #529bff;
  --ifm-color-primary-lightest: #69a9ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #69a9ff;
  --ifm-color-primary-dark: #529bff;
  --ifm-color-primary-darker: #3b8cff;
  --ifm-color-primary-darkest: #1866d1;
  --ifm-color-primary-light: #8bc4ff;
  --ifm-color-primary-lighter: #a2d1ff;
  --ifm-color-primary-lightest: #c0e0ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
